<div class="modal fade" id="disconnectedModalLong" tabindex="-1" role="dialog" aria-labelledby="disconnectedModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disconnectedModalLongTitle">Well, that's embarrassing...</h5>
            </div>
            <div class="modal-body">
                <p>It looks like the connection with the server has been interrupted for too long.</p>
                <p>Not to worry — you may be able log in again and continue where you left off.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="relogButton">Let's go!</button>
            </div>
        </div>
    </div>
</div>
