<div class="modal fade" id="gameInfoModalLong" tabindex="-1" role="dialog" aria-labelledby="gameInfoModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gameInfoModalLongTitle">How to Play</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="far fa-window-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Getting Started</h4>
                <p>Once everyone has joined the game, decide who should be the moderator. Usually, this will be your Scrum Master. The moderator should click the 'user and shield' button to designate themselves as the moderator. If there are any Product Owners in the game, they should click the 'binocular' icon to designate themselves as observers only.</p>
                <h4>Roles</h4>
                <p>Each player shall be in one of three roles:</p>
                <p><i class="fas fa-dot-circle"></i> The moderator, responsible for running the game, indicated by a light cyan shield icon.</p>
                <p><i class="fas fa-dot-circle"></i> Observers, who are simply there to observe, indicated by a light orchid binocular icon.</p>
                <p><i class="fas fa-dot-circle"></i> And players, including the moderator, who are voting!</p>
                <h4>Playing a Round</h4>
                <p>Once you're ready, each player should decide how they'd like to vote. The right hand side of the play area is dominated by a grid of options, from which you may select. Selection is performed by clicking the button. A small dot next to your name will turn green.</p>
                <p>Once all players have voted, and are happy, the moderator shall click reveal. The dot next to your name will expand to reveal your vote, and all votes will be displayed in a doughnut chart.</p>
                <p>At this stage, the votes should be discussed. Attention should be especially given to high- and low-outlying votes.</p>
                <p>When you are ready to vote again, or are otherwise finished discussing, the moderator shall click 'vote again' to return to voting. Your little dot shall turn blue and shrink to indicate this has been done.</p>
                <p>Rinse, repeat and, most importantly, have fun!</p>
            </div>
        </div>
    </div>
</div>
