@page "/s/{Session}"

@inject ISessionManagementService SessionManagementService
@inject IUserInfoService UserInfoService
@inject DialogService DialogService

<CascadingValue Value="Session">
    <div class="row" id="playareamain">
        <NamePlateList @ref="namePlateList" />
        <div class="justify-content-center col-sm-9">
            <TabControl ShowTabs="false" @ref="tabControl">
                <TabPage Title="Voting" @ref="playTab">
                    <PokerDeck />
                    <ModeratorToolbox EnableVotingTools="@ModeratorToolBoxMasterEnable" />
                </TabPage>
                <TabPage Title="Results" @ref="resultsTab">
                    <ResultsView @ref="resultsView" />
                    <ModeratorToolbox EnableResultsTools="@ModeratorToolBoxMasterEnable" />
                </TabPage>
            </TabControl>
        </div>
    </div>
</CascadingValue>

<FullScreenSpinner @ref="spinner" />
