@inject IJSRuntime JS
@inject ScrumPokerClub.Interop.IJSInterop JSInterop

<div class="d-flex align-items-center justify-content-end h-100">
    <i class="fas fa-sun mr-2 text-warning"></i>
    <RadzenSwitch @bind-Value=@IsDarkMode Change=@(args => OnToggle()) />
    <i class="fas fa-moon ml-2"></i>
</div>