<div class="loading-overlay bg-light d-flex justify-content-center align-items-center @display">
    <div>
        <p class="m-2 display-4 text-center">ScrumPokerClub</p>
        <RadzenProgressBar Value="100" ShowValue="false" Mode="@pbarMode" />
        <p class="m-2 lead text-center">Please Wait</p>
    </div>
</div>
