<footer class="border-top app-footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-left">
                &copy; 2020-2021 - <a href="https://www.linkedin.com/in/championofgoats/">Leif Walker-Grant</a>
            </div>
            <div class="col-md-4 text-center">
                Fork me on <a href="https://github.com/lwgsystems/scrumpokerclub">GitHub</a>
            </div>
            <div class="col-md-4 text-right">
                Questions? <a href="mailto:hello@lwg.systems">Drop me a line</a>
            </div>
            <div class="col-md-9 text-left">
                SPC @String.Format("v{0}", Program.FriendlyVersion), built on @Program.BuildDateTime
            </div>
            <div class="col-md-3">
                <DarkModeToggle />    
            </div>
        </div>
    </div>
</footer>
