@inherits LayoutComponentBase

<div class="toplevel">
    <header>
        <NavMenu />
    </header>
    <main role="main">
        <div class="container">
            @Body
        </div>
    </main>

    <InfoBlock />
</div>
