@inject ISessionManagementService sessionManagementService

@using ScrumPokerClub.Services.Requests

<div class="row mb-4">
    <div class="col text-center">
        @if (EnableVotingTools)
        {
            <button type="button" id="revealVote" class="btn btn-lg btn-outline-success moderator-only" @onclick="RevealVotes">Reveal!</button>
        }

        @if (EnableResultsTools)
        {
            <button type="button" id="revealVote" class="btn btn-lg btn-outline-success moderator-only" @onclick="PlayAgain">Play Again?</button>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public string Session { get; set; }

    [Parameter]
    public bool EnableVotingTools { get; set; } = false;

    [Parameter]
    public bool EnableResultsTools { get; set; } = false;

    void RevealVotes()
    {
        sessionManagementService.TransitionToResultsPhaseAsync(new TransitionToResultsPhaseRequest()
        {
            Session = Session
        });
    }

    void PlayAgain()
    {
        sessionManagementService.TransitionToPlayPhaseAsync(new TransitionToPlayPhaseRequest()
        {
            Session = Session
        });
    }
}
