<div class="mx-2 mt-2 mb-3 d-flex flex-row" id="@Id">
    <div class="player-icon @hasVoted" id="status-@Id" data-avatar="@AvatarId"></div>
    <div class="ml-3 player-name">@Name</div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public int AvatarId { get; set; }

    [Parameter]
    public bool HasVoted { get; set; }

    private string hasVoted => HasVoted ? "voted" : "";
}
