@implements IDisposable
@inject ISessionManagementService sessionManagementService
@using ScrumPokerClub.Services.Responses
@using ScrumPokerClub.Services.Requests 

<div class="justify-content-sm-left col-sm-3" id="playerlist">
    @foreach (var namePlate in namePlatesDto)
    {
        <NamePlate Id="@namePlate.Id"
                   Name="@namePlate.Name"
                   AvatarId="@namePlate.AvatarId"
                   HasVoted="@namePlate.HasVoted" />
    }
</div>

@code {
    [CascadingParameter]
    public string Session { get; set; }

    private class NamePlateDto
    {
        public string Id { get; set; }
        public string Name { get; set; }
        public int AvatarId { get; set; }
        public bool HasVoted { get; set; } = false;
    }

    private IList<NamePlateDto> namePlatesDto;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        namePlatesDto = new List<NamePlateDto>();

        await sessionManagementService.EnsureSessionConfiguredAsync(new ConfigureSessionRequest()
        {
            Session = Session,
            Configure = session =>
            {
                session.PlayerConnected += OnPlayerConnected;
                session.PlayerDisconnected += OnPlayerDisconnected;
                session.VoteUpdated += OnVoteUpdated;
            }
        });

        await sessionManagementService.JoinSessionAsync(new JoinSessionRequest()
        {
            Session = Session
        });
    }

    // called when a player connects
    private async void OnPlayerConnected(object sender, PlayerConnectedResponse playerConnectedResponse)
    {
        // bail early if there's already a nameplate for the connected player
        if (namePlatesDto.Any(npdto => npdto.Id == playerConnectedResponse.Id))
            return;

        await Task.CompletedTask;
        var newNamePlateDto = new NamePlateDto()
        {
            Id = playerConnectedResponse.Id,
            Name = playerConnectedResponse.Name,
            AvatarId = playerConnectedResponse.AvatarId
        };

        namePlatesDto.Add(newNamePlateDto);

        await InvokeAsync(() => StateHasChanged());
    }

    // called when a player disconnects
    private async void OnPlayerDisconnected(object sender, PlayerDisconnectedResponse playerDisconnectedResponse)
    {
        var namePlateDto = namePlatesDto.FirstOrDefault(npdto => npdto.Id == playerDisconnectedResponse.Id);
        if (namePlateDto is null)
            return;

        await Task.CompletedTask;
        namePlatesDto.Remove(namePlateDto);

        await InvokeAsync(() => StateHasChanged());
    }

    /// called when a vote is updated.
    private async void OnVoteUpdated(object sender, VoteUpdatedResponse voteUpdatedResponse)
    {
        var namePlateDto = namePlatesDto.FirstOrDefault(npdto => npdto.Id == voteUpdatedResponse.Id);
        if (namePlateDto is null)
            return;

        await Task.CompletedTask;
        namePlateDto.HasVoted = true;

        await InvokeAsync(() => StateHasChanged());
    }

    void IDisposable.Dispose()
    {
        sessionManagementService.EnsureSessionConfiguredAsync(new ConfigureSessionRequest()
        {
            Session = Session,
            Configure = session =>
            {
                session.PlayerConnected -= OnPlayerConnected;
                session.PlayerDisconnected -= OnPlayerDisconnected;
                session.VoteUpdated -= OnVoteUpdated;
            }
        });

        sessionManagementService.LeaveSessionAsync(new LeaveSessionRequest()
        {
            Session = Session
        });
    }
}
