<nav class="navbar navbar-light navbar-expand-lg bg-light box-shadow mb-3">
    <div class="container" id="navbararea">
        <a class="navbar-brand" asp-area="" asp-page="/Index">ScrumPokerClub</a>
        <div class="d-flex justify-content-right">
            <LoginDisplay />
            @ChildContent
        </div>
    </div>
</nav>
