<nav class="navbar navbar-light navbar-expand-lg bg-light box-shadow mb-3">
    <div class="container" id="navbararea">
        <a class="navbar-brand" asp-area="" asp-page="/Index">ScrumPokerClub</a>
        <div class="d-flex justify-content-right">
            <LoginDisplay />
            @ChildContent
        </div>
    </div>
</nav>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
