@using ScrumPokerClub.Extensions 

<div class="col-sm-3 p-1">
    <label class="btn btn-outline-secondary vote py-5 w-100 @activeClass" @onclick="@(async e => await OnClickCallback.InvokeAsync(this))">
        <input type="radio" name="@Value" style="display:none;" />@(((Enum)Value).Description())
    </label>
</div>
