@inherits LayoutComponentBase
@using System.Diagnostics
@using System.IO

<RadzenTooltip />

<div class="toplevel">
    <header>
        <NavMenu>
        </NavMenu>
    </header>
    <main role="main">
        <div class="container">
            @Body
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left">
                    &copy; 2020-2021 - <a href="https://www.linkedin.com/in/championofgoats/">Leif Walker-Grant</a>
                </div>
                <div class="col-md-4 text-center">
                    Fork me on <a href="https://github.com/lwgsystems/scrumpokerclub">GitHub</a>
                </div>
                <div class="col-md-4 text-right">
                    Questions? <a href="mailto:hello@lwg.systems">Drop me a line</a>
                </div>
                <div class="col-md-12 text-center">
                    SPC @String.Format("v{0}", Program.FriendlyVersion), built on @Program.BuildDateTime
                </div>
            </div>
        </div>
    </footer>
</div>
