<div class="btn-group" role="group" style="display: @tabVisibility">
    @foreach (var tabPage in tabPages)
    {
        <button type="button"
                class="btn @GetButtonClass(tabPage)"
                @onclick=@( () => ActivatePage(tabPage) )>
            @tabPage.Title
        </button>
    }
</div>
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>
