@page
@model Flush.Areas.Auth.Pages.LoginModel
@{
    if (ViewData.TryGetValue("Token", out object token))
    {
        var jwt = token as string;
        <h5 class="card-title">Success!</h5>
        <p class="card-text">We're redirecting you now.</p>
        <form id="redirect" method="post">
            <button id="doRedirect" asp-page-handler="AuthorisedRedirect" type="submit" class="btn btn-link">Click here if you're not redirected.</button>
        </form>
        <script>
            window.sessionStorage.setItem("spc_user_token", "@jwt")
            document.getElementById("doRedirect").click();
        </script>
    }
    else
    {
        <h5 class="card-title">Welcome to ScrumPokerClub</h5>
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InputRoom"></label>
                <input asp-for="InputRoom" class="form-control" />
                <span asp-validation-for="InputRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputName"></label>
                <input asp-for="InputName" class="form-control" />
                <span asp-validation-for="InputName" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center">
                <button type="submit" asp-page-handler="AcquireToken" class="btn btn-outline-light">Join in!</button>
            </div>
        </form>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}